:local {
  .button {
    background: linear-gradient(
      124deg,
      rgba(79, 12, 7, 1) 0%,
      rgba(92, 15, 9, 1) 100%
    );
    transition: all 0.5s;
    cursor: pointer;
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.5);
    font-family: 'Acrom';
    &:hover {
      background: linear-gradient(
        124deg,
        rgba(92, 15, 9, 1) 0%,
        rgba(79, 12, 7, 1) 100%
      );
      box-shadow: none;
    }
  }
}
