@font-face 
 font-family: "Acrom"
 src: url("/static/fonts/Acrom.eot") format("eot"), url("/static/fonts/Acrom.otf") format("otf"), url("/static/fonts/Acrom.ttf") format("ttf"), url("/static/fonts/Acrom.woff") format("woff")

@font-face 
 font-family: "Bankir"
 src: url("/static/fonts/Bankir.eot") format("eot"), url("/static/fonts/Bankir.otf") format("otf"), url("/static/fonts/Bankir.ttf") format("ttf"), url("/static/fonts/Bankir.woff") format("woff")